*{outline:none; box-sizing:border-box; font-family:sans-serif;}
body{padding:0; margin:0;}



.header{background:black; padding:15px; display:flex; align-items:center; justify-content:center;}

.col span{color:white; font-weight:bold; margin:0 16px; display:inline-block;}
.right-col img{display:none;}


@media screen and (max-width:960px){
    .right-col{text-align:right;}
    .right-col img{display:inline-block; }
    .right-col span{display:none}
}